# Byte-compiled / optimized / DLL files
__pycache__/

# Logs:
gmail_bot*.log
MEEP_bot*.log
notion_bot*.log

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# Environment
.venv

# Confidential files
credentials.json
gmail_token.json
notion_api.json

# DS_Store
.DS_Store