# Byte-compiled / optimized / DLL files
__pycache__/

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version

# vscode settings
.vscode

# Environment
.venv

# Confidential credential files
credentials.json
gmail_token.json
notion_config.json

# Confidential memory and logfiles
inbox.*
outbox.*
MEEP.log
test.log

# DS_Store
.DS_Store