
DateTime==5.5
fuzzywuzzy==0.18.0
python-Levenshtein==0.27.1
dateparser==1.2.2

# Async libraries
aiosqlite==0.21.0
aiohttp==3.13.1

# Gmail API libraries
google-api-python-client==2.172.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2